:root {
    --color-jace-primary: #9E0D09;
    /* --color-jace-primary: #F52720; */
    --color-jace-fondo: #d8d9da;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
    height: 100vh;
    margin: 0;
    padding: 0;
}

.prueba {
    width: 500px;
    height: 500px;
    background-color: aqua;
}

#publicacion {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navbar-header {
    background-color: var(--color-jace-primary);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

#lis-navbar>li {
    display: inline-block;
    padding: 5px;
}

main {
    height: 100%;
}


/* header */

.title-container,
.title-container a {
    color: white!important;
    font-weight: bold;
    font-size: 18px;
}

#navbar-header {
    background-color: var(--color-jace-primary);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/* main */

#container-main {
    background-color: var(--color-jace-fondo);
    width: 70%;
    height: auto;
}

#content-main {
    height: 100%;
    overflow: scroll;
    scrollbar-width: thin;
    overflow-x: hidden!important;
}

::-webkit-scrollbar {
    display: none;
}

#scroll-right {
    max-height: 50%;
}


/* 
#publicacion .card {
    height: 500px;
} */

#content-rigth {
    max-width: 30%;
    background-color: white!important;
    height: 90%;
}

#contentPer {
    max-width: 30%;
    background-color: white!important;
    height: 100%;
}


/* posts */

.bg-image {
    text-align: center;
    border-bottom: 1px solid rgb(197, 194, 194);
}

.carta {
    max-width: 600px;
    min-width: 400px;
}

.carta:hover {
    /* transform: scale(1.1);
    transition: all .3s ease; */
    margin-top: 50px!important;
    margin-bottom: 50px!important;
}

.form-logs .card {
    box-shadow: 5px 5px 5px 5px var(--color-jace-fondo);
    width: 70%!important;
}

h1 {
    text-transform: uppercase;
    font-weight: bolder;
}

.form-logs .card input:first-child {
    margin-top: 15px;
}

.boton {
    background-color: var(--color-jace-primary)!important;
    color: white!important;
    padding: 5px;
    border-radius: 5px;
}

.boton:hover {
    background-color: white!important;
    color: var(--color-jace-primary)!important;
    font-weight: bold;
    border: solid 1px var(--color-jace-primary)!important;
}

a:hover {
    color: #9E0D09;
    font-weight: bolder;
}

.img-intro {
    position: absolute;
    z-index: 3543;
    top: -180px;
    right: 150px;
    /* width: 100%; */
    text-align: center;
    display: flex;
    align-items: center;
}

.img-intro img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    max-width: 200px;
}

.form-slider {
    top: 350px;
    position: absolute;
}

.form-slider input {
    background-color: rgba(103, 100, 100, 0.07);
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    color: rgb(84, 81, 81);
}

.form-slider label {
    font-size: 13px;
    font-weight: bolder;
}

.icons a,
.icons button {
    text-decoration: none!important;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}

.icons button:first-child {
    text-decoration: none!important;
    color: red;
    border: red 1px solid;
}

.icons button:nth-child(2) {
    text-decoration: none!important;
    color: green;
    border: green 1px solid;
}

.icons button:first-child:hover {
    text-decoration: none!important;
    color: white;
    background-color: red;
    font-weight: bolder;
    border: red 1px solid;
    transform: scale(.9);
}

.icons button:nth-child(2):hover {
    text-decoration: none!important;
    color: white;
    background-color: green;
    font-weight: bolder;
    border: green 1px solid;
    transform: scale(.9);
}


/* fin post */

@media (max-width: 1400px) {
    #container-main {
        width: 100%!important;
        /* max-width: 300px; */
    }
    #content-rigth {
        display: none!important;
    }
}

@media (max-width: 700px) {
    #container-main {
        width: 100%!important;
        /* max-width: 300px; */
    }
    #content-rigth {
        /* display: none!important; */
    }
    .carta {
        min-width: 400px;
        font-size: 15px;
    }
    .card-footer {
        font-size: 10px;
    }
    .icons {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        font-weight: bolder;
        width: max-content;
    }
    .icons i span {
        display: none;
    }
}

@media (max-width: 400px) {
    .carta {
        min-width: 200px;
        font-size: 15px;
    }
}