@import url(portada.css);
.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0!important;
    }
}

a:hover {
    color: #9E0D09!important;
    font-weight: bolder;
}

label {
    font-weight: lighter;
    color: rgb(102, 99, 99);
}

.formulario {
    background: hsla(0, 0%, 100%, 0.55)!important;
    backdrop-filter: blur(30px)!important;
}

.form-portada img {
    max-width: 590px;
}